@import url(resert.css);
@import url(navigation.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
    font-family: Roboto, sans-serif;
    font-size: 10px;
    height: 1000px;
}
header{
    background: #5C6F4E;
    display: flex;
    height: 100px;
    padding: 10px;
    position: sticky;
    top: 0px;
}

.conteiner{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

