.logo{
    display: inline-flex;
    font-size: 3.6rem;
    line-height: 1.16;
    margin-left: 160px;
    color: white;
    text-decoration: none;
}
.head{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.wrapper{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-items:space-between;
    gap: 10px;
    margin-right: 180px;
}

.dropdown nav{
    display: block;
    position: absolute;
    top: 100%;
    right: 0%;  
    width: 150px;
    padding: 5px;
    visibility: hidden;
}

ul a{
    color: black;
    text-decoration: none;  
    font-size: 2.4rem;
    line-height: 1.16;
}

.wrapper:hover ul{
    visibility: visible;
    background-color: rgb(113, 83, 141);
    transform: translateX(50%);
}



